<div id="about"  class="about-main px-[80px] relative mb-28">
    <img class="about-img p-0 m-0" src="../../assets/images/infobg.png" alt="">
    <div class="about-box absolute right-[90px] top-[120px] bg-[#2947a9] px-9 py-12 text-white w-[430px]">
        <h1 class="text-3xl font-bold mb-6">About us</h1>
        <p class="leading-5 font-light mb-4">For more than 30 years we have been delivering world-class construction and
            we’ve built many and reliability when building lasting relationships along the way.</p>
        <p class="leading-5 font-light">We’ve matured into an industry leader and trusted resource for those seeking
            quality, innovation and reliability when building in the U.S.</p>
        <button class="bg-white text-[#2947a9] px-3 py-2.5 font-semibold text-[15px] rounded-md mt-16">More on Our
            History</button>
    </div>
</div>