<div id="service" class="main">
    <div class="service-main bg-[#f6f8f7] px-[80px] mb-24 pt-10 py-16 flex flex-col justify-center items-center">
        <h1 class="text-[#292e3d] font-bold text-3xl mb-6">Services</h1>
        <div class="service grid grid-cols-3 gap-x-20 gap-y-10">
            <div class="bg-white py-8 rounded-md w-[230px] flex flex-col justify-center items-center">
                <img class="w-[45px]" src="../../assets/images/service/icon.svg" alt="">
                <div class="w-[55px] h-[1px] bg-gray-300 mt-3 mb-3.5"></div>
                <h2 class="font-semibold text-[#2947a9] text-base">Construction</h2>
            </div>
            <div class="bg-[#2947a9] py-8 rounded-md w-[230px] flex flex-col justify-center items-center">
                <img class="w-[45px]" src="../../assets/images/service/icon (1).svg" alt="">
                <div class="w-[55px] h-[1px] bg-white mt-3 mb-3.5"></div>
                <h2 class="font-semibold text-white text-base">Renovation</h2>
            </div>
            <div class="bg-white py-8 rounded-md w-[230px] flex flex-col justify-center items-center">
                <img class="w-[45px]" src="../../assets/images/service/icon (2).svg" alt="">
                <div class="w-[55px] h-[1px] bg-gray-300 mt-3 mb-3.5"></div>
                <h2 class="font-semibold text-[#2947a9] text-base">Consultation</h2>
            </div>
            <div class="bg-[#2947a9] py-8 rounded-md w-[230px] flex flex-col justify-center items-center">
                <img class="w-[45px]" src="../../assets/images/service/icon (3).svg" alt="">
                <div class="w-[55px] h-[1px] bg-white mt-3 mb-3.5"></div>
                <h2 class="font-semibold text-white text-base">Repair Services</h2>
            </div>
            <div class="bg-white py-8 rounded-md w-[230px] flex flex-col justify-center items-center">
                <img class="w-[45px]" src="../../assets/images/service/icon (4).svg" alt="">
                <div class="w-[55px] h-[1px] bg-gray-300 mt-3 mb-3.5"></div>
                <h2 class="font-semibold text-[#2947a9] text-base">Architecture</h2>
            </div>
            <div class="bg-[#2947a9] py-8 rounded-md w-[230px] flex flex-col justify-center items-center">
                <img class="w-[45px]" src="../../assets/images/service/icon (5).svg" alt="">
                <div class="w-[55px] h-[1px] bg-white mt-3 mb-3.5"></div>
                <h2 class="font-semibold text-white text-base">Electric</h2>
            </div>
        </div>
    </div>

    <div class="hole-box flex justify-between">
        <!-- one -->
        <div class="box-main px-[80px] mb-[450px] relative">
            <div
                class="box box-1 z-10 relative ml-[380px] bg-white w-[17.5rem] px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <h1 class="text-[#292e3d] text-7xl font-semibold mb-1">84</h1>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-2xl">Happy Clients</p>
                </div>
            </div>
            <div class="img-1 img z-20 absolute top-0 left-[670px]"><img
                    src="../../assets/images/stats/happyClients.png" alt="">
            </div>

            <div
                class="box box-2 absolute left-[160px] top-[100px] bg-white w-[22.5rem] px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <h1 class="text-[#292e3d] text-7xl font-semibold mb-1">123</h1>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-2xl">Projects Completed</p>
                </div>
            </div>
            <div class="img-2 img z-20 absolute top-[60px] left-[125px]"><img
                    src="../../assets/images/stats/projectsCompleted.png" alt="">
            </div>

            <div
                class="box box-3 absolute z-10 left-[400px] top-[240px] bg-white w-[17.5rem] px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <h1 class="text-[#292e3d] text-7xl font-semibold mb-1">37</h1>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-2xl">Awards Win</p>
                </div>
            </div>
            <div class="img-3 img z-20 absolute top-[220px] left-[610px]"><img
                    src="../../assets/images/stats/awardsWin.png" alt="">
            </div>

            <div
                class="box box-4 absolute left-[200px] top-[340px] bg-white w-[22.5rem] px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <h1 class="text-[#292e3d] text-7xl font-semibold mb-1">30</h1>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-2xl">Years in Business</p>
                </div>
            </div>
            <div class="img-4 img  z-20 absolute top-[450px] left-[520px]"><img
                    src="../../assets/images/stats/years.png" alt="">
            </div>
        </div>

        <!-- two -->
        <div class="hole-box-2 mb-[60px] px-[40px] grid-cols-2 gap-x-16 gap-y-16 hidden">
            <div
                class=" bg-white w-full px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <div class="flex justify-between">
                    <h1 class="text-[#292e3d] text-[60px] font-semibold mb-1">84</h1>
                    <img class="mt-[-60px] mr-[-60px] h-[90px] w-[90px]"
                        src="../../assets/images/stats/happyClients.png" alt="">
                </div>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-[20px]">Happy Clients</p>
                </div>
            </div>
            <div
                class=" bg-white w-full px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <div class="flex justify-between">
                    <h1 class="text-[#292e3d] text-[60px] font-semibold mb-1">123</h1>
                    <img class="mt-[-60px] mr-[-60px] h-[80px] w-[80px]"
                        src="../../assets/images/stats/projectsCompleted.png" alt="">
                </div>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-[20px]">Projects Completed</p>
                </div>
            </div>
            <div
                class=" bg-white w-full px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <div class="flex justify-between">
                    <h1 class="text-[#292e3d] text-[60px] font-semibold mb-1">37</h1>
                    <img class="mt-[-60px] mr-[-60px] h-[80px] w-[80px]" src="../../assets/images/stats/awardsWin.png"
                        alt="">
                </div>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-[20px]">Awards Win</p>
                </div>
            </div>
            <div
                class=" bg-white w-full px-6 py-6 rounded-md shadow-[0px_10px_6px_-2px_rgba(17,24,39,.05),0px_18px_16px_-4px_rgba(17,24,39,.1)]">
                <div class="flex justify-between">
                    <h1 class="text-[#292e3d] text-[60px] font-semibold mb-1">30</h1>
                    <img class="mt-[-60px] mr-[-60px] h-[80px] w-[80px]" src="../../assets/images/stats/years.png"
                        alt="">
                </div>
                <div class="flex">
                    <div class="w-[8px] h-[35px] bg-[#f9995d] ml-4 mr-3"></div>
                    <p class="text-[#667299] text-[20px]">Year of Business</p>
                </div>
            </div>
        </div>

        <!-- exp-box -->
        <div class="exp-box mt-20 basis-[480px]">
            <h1 class="text-6xl font-bold text-[#2947a9] mb-8">30 Years Experience</h1>
            <p class="text-[#525b7a] w-[250px]">Our company has been the leading provided construction services to
                clients
                throughout the USA since 1988.</p>
            <button class="px-8 py-3 mt-10 rounded-md bg-[#2947a9] text-white font-semibold">Contact Us</button>
        </div>
    </div>
    <div class="consult px-[80px] flex items-center justify-between h-[250px]">
        <div class=" text-white">
            <h1 class="text-3xl font-bold mb-6">Free consultation with exceptional quality</h1>
            <p class="text-xl">Just one call away: <span class="underline">+84 1102 2703</span> </p>
        </div> 
        <div>
            <button class="text-white border-2 p-3 mr-8">Get your consultation</button>
        </div>
    </div>
</div>