<div id="home" class="relative">
    <img class="w-full object-cover max-[1200px]:h-[500px] max-[1024px]:blur-sm " src="../../assets/images/hero.png" alt="">
    <h1
        class="topic absolute left-[100px] bottom-[220px] w-[500px] text-[#292e3d] text-6xl font-semibold leading-[70px] max-[1200px]:text-5xl max-[1200px]:w-[400px] max-[1024px]:w-full ">
        Building things is our mission.
    </h1>
    <div
        class="absolute bottom-0 right-0 bg-blue-800 text-white w-[341px] text-center pt-6 max-[1200px]:w-[300px] max-[1024px]:left-0 max-[1024px]:w-full  max-[1024px]:pt-4">
        <h3
            class="text-xl font-bold mb-5 max-[1200px]:text-lg max-[1200px]:mb-2  max-[1024px]:text-base  max-[1024px]:mb-1">
            Feature Projects
        </h3>
        <p
            class="px-6 mb-6 leading-[25px] text-[20px] max-[1200px]:text-[18px] max-[1200px]:mb-5  max-[1024px]:text-[15px]">
            The NationalUniversity of <br> Architecture
        </p>
        <div class="flex">
            <button class="bg-[#292e3d] w-full py-2 flex items-center justify-center gap-2 border-r-[1px]"><img
                    src="../../assets/images/right.svg" width="25px"> Back
            </button>
            <button class="bg-[#292e3d] w-full py-2 flex items-center justify-center gap-2"> Next <img
                    src="../../assets/images/left.svg" width="25px">
            </button>
        </div>
    </div>
</div>

<div class="main-service mt-12 mb-36 px-[80px]">
    <h1 class=" text-3xl text-[#292e3d] font-bold text-center mb-12">Our Reputation</h1>
    <div class="service flex justify-between fle px-20 gap-7">
        <div class="box w-[290px] border-2 px-4 pt-4 pb-6">
            <img class="mb-3 w-[40px]" src="../../assets/images/icon2.svg" alt="">
            <h2 class="text-xl text-[#292e3d] font-bold mb-3">Best Services</h2>
            <p class="box-para text-base text-zinc-500">Nullam senectus porttitor in eget. Eget rutrum leo interdum.</p>
        </div>
        <div class="box w-[290px] border-2 px-4 pt-4 pb-6">
            <img class="mb-3 w-[40px]" src="../../assets/images/icon2.svg" alt="">
            <h2 class="text-xl text-[#292e3d] font-bold mb-3">Best Teams</h2>
            <p class="box-para text-base text-zinc-500">Cursus semper tellus volutpat aliquet lacus. </p>
        </div>
        <div class="box w-[290px] border-2 px-4 pt-4 pb-6">
            <img class="mb-3 w-[40px]" src="../../assets/images/icon.svg" alt="">
            <h2 class="text-xl text-[#292e3d] font-bold mb-3">Best Designs</h2>
            <p class="box-para text-base text-zinc-500">Ultricies at ipsum nunc, tristique nam lectus.</p>
        </div>
    </div>
</div>